In [3]:
import mysql.connector
import sys
import os
import time

In [4]:
# Function to perform a SQL operation and print results for SELECT queries
def perform_select_operation(query):
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="passward",
        database="sakila"
    )
    cursor = connection.cursor()

    # Execute the query
    cursor.execute(query)

    # If the query is a SELECT statement, fetch and print the results
    if query.strip().upper().startswith("SELECT"):
        results = cursor.fetchall()  # Fetch all rows from the query result
        for row in results:
            print(row)
    else:
        # For non-SELECT queries, commit the changes
        connection.commit()

    # Close the cursor and connection
    cursor.close()
    connection.close()

In [5]:
querry = "SELECT * FROM actor LIMIT 5"
perform_select_operation(querry)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))